.Home{
  height: 900px;
}

body{
  padding: 0px;
  margin: 0px;
  color: rgb(60, 60, 59);
  font-family: "IBM Plex Mono", monospace !important;
  transition: color 200ms ease 0s;
}
body{
  background-color: rgb(33, 36, 40);
  color: rgb(246, 247, 249);
}

a {
  text-decoration: none !important; 
  color: rgb(246, 247, 249);
}

.fa, .fas {
  font-weight: 900;
}

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.profile-image{
  max-width: 75px;
  object-fit: cover;
  box-shadow: rgb(194 202 214) 0px 0.2em, rgb(194 202 214) 0px -0.2em, rgb(194 202 214) 0.2em 0px, rgb(194 202 214) -0.2em 0px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  height: 100px;
}

.related-story-text{
  font-size: 16px !important;
}

.time-date{
  text-align: right;
}


